<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:label="Adhan Widget"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity
            android:name="com.widgetfiles.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <receiver
            android:name="com.widgetfiles.widget.MyAppWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_app_widget_info"/>
        </receiver>

        <receiver
            android:name="com.widgetfiles.widget.update.MinuteTickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.widgetfiles.widget.ACTION_MINUTE_TICK"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.widgetfiles.widget.update.DailyRefreshReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.widgetfiles.widget.ACTION_DAILY_REFRESH"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.widgetfiles.widget.update.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.widgetfiles.widget.update.UserPresenceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.widgetfiles.widget.vibrate.PrayerVibrateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.widgetfiles.widget.PRAYER_ALARM"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
